@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --color-primary: #dbdbdb;
  --color-secondary: aliceblue;
  --color-background: #212121;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--color-background);
}
